<div class="container">
    <div class="card mt-3">

        <div class="card-body">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sexo" id="todos" value="todos">
                <label class="form-check-label ms-2" for="todos">Todos({{ obtenerTotalEmpleados() }})</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sexo" id="femenino" value="femenino">
                <label class="form-check-label ms-2" for="femenino">Femenino( {{obtenerTotalFemeninos()}} )</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sexo" id="masculino" value="maculino">
                <label class="form-check-label ms-2" for="masculino">Maculino( {{obtenerTotalMasculino()}} )</label>
            </div>
        </div>

    </div>

    <div class="card mt-3">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Legajo</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Sexo</th>
                        <th>Salario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let empleado of listEmpleados">
                        <td>{{ empleado.legajo }}</td>
                        <td>{{ empleado.nombre }}</td>
                        <td>{{ empleado.apellido }}</td>
                        <td>{{ empleado.sexo }}</td>
                        <td>{{ empleado.salario }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
